.subscribe{
    margin-top: 0;
    padding-top: 120px;
    height: 297.413px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fbdc00;
}

.subscribe-left{
    margin: 20px;
    padding: 20px;
    width: 20%;
}

.subscribe-line-1{
    margin: 0;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Ubuntu', sans-serif;   
}

.subscribe-line-2{
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color:rgb(67, 67, 67);
}

.subscribe-button{
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    background: #ee3425;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-family: 'PT Sans',sans-serif;
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    padding: 4px 16px;
    font-weight: 700;
}

.subscribe-form{
    display: flex;
    margin-top: 20px;
}

.subscribe-email{
    width: 226.8px;
    height: 16.8px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subscribe::after{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: " ";
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%
}
